<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.exam.dao.JudgeDao">

    <select id="getAll" resultType="judge">
        select * from judge_question
    </select>

    <select id="getJudgeByID" resultType="judge">
        select * from judge_question where questionId= #{questionId}
    </select>


    <insert id="save">
        insert into judge_question value(null,#{subject},#{question},#{answer},#{analysis},#{score},#{level},#{section},null,null,null)
    </insert>

    <delete id="delete">
        delete from judge_question where questionId= #{questionId}
    </delete>

    <update id="update">
        update judge_question set subject=#{subject},question=#{question},answer=#{answer},analysis=#{analysis},score=#{score},level=#{level},section=#{section} where questionId=#{questionId}
    </update>
</mapper>