<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.exam.dao.IStudentDao">

    <select id="getStudentAll" resultType="student">
    select * from student
</select>
    <update id="updateStudent">
    update student set
        studentName = #{studentName},
        grade = #{grade},
        major = #{major},
        clazz = #{clazz},
        institute = #{institute},
        tel = #{tel},
        email = #{email},
        pwd = #{pwd},
        cardId = #{cardId},
        sex = #{sex},
        role = #{role}
         where studentId = #{studentId}
    </update>
    <insert id="saveStudent">
        insert into student (
                     studentId,
                     studentName,
                     grade,
                     major,
                     clazz,
                     institute,
                     tel,
                     email,
                     pwd,
                     cardId,
                     sex,
                     role
                    ) values(
                     null,
                     #{studentName},
                     #{grade},
                     #{major},
                     #{clazz},
                     #{institute},
                     #{tel},
                     #{email},
                     #{pwd},
                     #{cardId},
                     #{sex},
                     #{role}  )
    </insert>

    <delete id="deleteStudent">
        delete from student where studentId = #{studentId}
    </delete>
</mapper>